<footer class="fixed-bottom bg-light text-center">
    <div class="container">
      <span>&copy;<span id="year"></span> 
        <a href="https://www.linkedin.com/in/raik-silva/" style="text-decoration: none; color: black ">Dev Raik</a>
      </span>
    </div>
  </footer>
 